
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto, san serif',;
    scroll-behavior: smooth;

}

.header{    
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(252, 249, 249, 0.3),rgba(56, 74, 238, 0)),url(images/banner.jpg);
background-image: center;
background-size: cover;
position: relative; 
}   
nav{
display: flex;
padding: 0% 3%;
justify-content: space-between;
align-items: center;

}

.nav-links{
flex:1;
text-align: right;
}
nav img{
width: 250px;
padding-top: 13px;
padding-left: 65px;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding:10px 15px;
position: relative;

}

.nav-links ul li a{
    color:#002c5a;
text-decoration: none;
font-size: 18px;
font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

.nav-links ul li::after{
content: "";
width: 0%;
height: 3px;
background: #fff;
display: block;
margin: auto;
transition: 0.5s;

}
.nav-links ul li:hover::after{
width: 100%;

}

.text-box{
width: 50%;
color:#000000;
position: absolute;
top:55%;
left:50%;  
transform: translate(-50%,-50%);
text-align: center;


}
.text-box h1{
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:transparent;
    -webkit-text-stroke: 1px #002c5a;
    
}
.text-box p{
margin: 10px 0 40px;
font-size: 25px;
font-family:'Times New Roman';
font-weight: 500;

color:#002c5a;

}
.btn-hero{
display: inline-block;
text-decoration: none;
color: #fff;;
border: 1px solid #fff;
padding: 12px 34px;
font-size: 15px;
background: #002c5a;
position: relative;
cursor: pointer;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
}

.btn-hero:hover{
border: 1px solid #000000;
background:#002c5a;
transition: 1s;

}

nav .fa{
display:none;

}

@media(width <= 600px){
.header{    
background-image: linear-gradient(rgba(252, 249, 249, 0.3),rgba(56, 74, 238, 0)),url(images/bannerphone.jpg);
}   
nav img{
width: 150px;
padding-top: 15px;
padding-left: 30px;
}
.text-box{
width: 60%;
color:#000000;
position: absolute;
top:50%;
left:50%;  
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
font-size: 28px;
}
.text-box p{
font-size: 15px;
}
.nav-links ul li{
display: block;
}
.nav-links{
position:fixed;
background: #f0efef;
height: 100vh;
width: 200px;
top: 0;
right: -200px;
text-align: left;
z-index: 1;
transition: 1s;
        
}
nav .fa{
display: block;
color: #000000;
margin:10px;
font-size: 22px;
cursor: pointer;
}
.nav-links ul{
padding:20px
}
.btn-hero{
font-size: 10px;
padding: 12px 20px;
        
}
}
/*Services */
.Services{
width: 80%;
margin: auto;
text-align: center;
padding-top: 100px; 
color:#002c5a;
word-spacing: 3px;
font-family: "Poppins", sans-serif;
font-weight: 300;
}
.Services h1{
font-size: 35px;
color: #867649;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style:italic;
}
.Services h2{
    font-style: italic;
    font-size: 15px;
    padding-top: 15px;
color:#000000;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
line-height: 25px;

}
.Services p{
color:#000000;
font-size: 15px;
line-height: 25px;
padding-top: 10px;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;

}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.services-col {
flex-basis: 31%;
background: #e7e4e4;
border-radius: 24px;
margin-bottom: 5%;
padding:30px 30px;
box-sizing: border-box;
transition: 0.5s;

}
.row2{
    margin-top: -2%;
    display: flex;
 justify-content: space-between;
}
.row3{
    margin-top: -2%;
    display: flex;
 justify-content:space-between;
}
.services-col h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
margin:10px;

}
.services-col:hover{
box-shadow: 0 0 50px 5px rgba(42, 42, 43, 0.4);
}
@media(width <= 600px){
    .Services h1{
        font-size: 30px;
    }
    .Services h2{
        font-size: 12px;
       
    }

.row1{
    flex-direction: column;
}
.row2{
    flex-direction: column;
}
.row3{
    flex-direction: column;
}
}
/*Projects*/
.projects{
    text-align: center;
    padding-top: 100px; 
    font-style: italic;
}
.projects h1{
    font-size:35px;
    color: #867649;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style:italic;
    }
.gallery{
width: 1200px;
display:flex;
overflow-x: scroll;

}

.gallery div{
width:100%;
display:grid;
grid-template-columns:  auto auto auto ;
grid-gap: 10px;
padding: 15px;
flex:none;

}
.gallery div img{
height: 60vh;
transition: transform 0.5s;
width:100%;
border-radius: 20px;
}
.gallery::-webkit-scrollbar{
display:none;
}
.gallery-wrap {
margin: 20px auto;
display:flex;
align-items: center;
justify-content: center;

}
.gallery-wrap .fa {
margin: 10px;
font-size: 24px;
cursor: pointer;
}

.gallery div img:hover{
cursor: pointer;
transform: scale(1.1);
}

#backbtn, #nextbtn{
width:25px;
cursor:pointer;
margin:25px;
}
.btn-prj{
    text-align: center;
    text-decoration: none;
    color: #fff;;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: #002c5a;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    
    
}
@media(width<= 600px){
.projects h1{
font-size:30px;
}
.gallery{
width: 800px;
        
}
.gallery div{
 width:100%;
display:grid;
grid-template-columns: auto auto auto ;
grid-gap: 10px; 
padding: 5px; 
}
.gallery div img{
height:50vh;
width:100%;
display: flex;

}
    
#backbtn, #nextbtn{
width:15px;
margin:10px;
        
}
.btn-prj{
font-size: 12px;
padding: 12px 20px;
}   
}

/*About */
.About{
margin-top:120px;
padding-bottom: 50px;
width: auto;
text-align: center;
margin-left: 100px;
margin-right: 100px;
display:flex;
justify-content: center;
align-items: center;
border-radius: 10px;

}
.about-text{
margin:auto;   
}
.about-text h1{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style:italic;  
font-size: 35px;
color: #867649;
padding-top: 20px;
padding-bottom: 20px;
}


.about-text p{
padding-top:2px;
font-size: 20px;
color: #867649;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style:italic;
text-align:unset;
}
.hrlines{
   margin-left:20%;
   margin-right:20%;
 
}

@media(width<= 600px){
    .About{
width: auto;
margin-left: 40px;
margin-right: 40px;
    }
.About h1{
 font-size: 23px;
margin-top: 15px;
text-align:center;
             
}
.about-text p{
text-align:center;
font-size: 16px;
   
}
}

/*Permit and Licenses */
.PERMITLICENSES{
width: auto;
text-align: center;
padding-top: 60px;
color:#867649;
display: block;

}
.permits{
display: flex;
align-items: center;
justify-content: center;
gap:40px;   

}
.PERMITLICENSES h1{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-size: 20px;
font-style: italic;
}
.PERMITLICENSES img {
padding-top: 20px;
height: 100px;
filter: grayscale(100%);
    
}
@media(width <= 600px){
.permits{
margin: auto;
gap:13px;  
}
.PERMITLICENSES h1{
font-size: 15px;
}
.PERMITLICENSES img {
padding-top: 30px;
height: 60px; 
}
}
/* FOOTER NAVIGATION */

footer{
margin-top: 70px;
width: auto;
flex-wrap: wrap;
display: flex;
justify-content:center;
background-color: #002c5a;
padding: 20px 5%;   
color:#867649;
}
.contactinfo ul{
list-style:none;  
}
.footer-col h3{
margin-bottom: 10px;
font-family: "Montserrat", sans-serif;
font-weight: 200;
font-size:22px;
color:#fff;
}
.footer-col{
margin: 20px;
}

.footer-col ul li a{
text-decoration: none;
transition: 0.4s;
color:#fff;
padding-top: 3px;
font-family: "Montserrat", sans-serif;
font-weight: 300;
font-size:18px;
    
}
.footer-col h3:hover{
transition: 0.4s;
color:#867649;
padding-left: 2px;
}

.footer-col ul li a:hover{
color:#867649;
padding-left: 2px;
}
.contactinfo ul li a{
font-size: 14px;
padding-top: 10px;
    
    
}
.contactinfo{
text-align: left;
font-family: "Montserrat", sans-serif;
}
.links ul li a{
font-size: 18px;

}
.navbtm {
padding-right: 80px;
    
}
.navbtm ul li {
display:inline-block;
padding:5px;

}
.links ul li{
display: inline-block;
padding: 8px;

}

.bottom-bar {
background-color:#fff;
color:#867649;
margin:auto;
text-align: center;

}

@media(width <= 600px){
footer{
width: auto;
display: flex;
justify-content: center;
align-items: center;
     
}
 
.contactinfo {
text-align: center;
font-size: 15px;
                 
}
.contactinfo h3{
text-align: center;
            
}
.footer-col h3{
font-size: 15px;
color:#fff;
}
    
.navbtm {
padding-right: 0px;
padding-left: 0px;

         
}
.navbtm ul li a{
padding:0px;
font-size: 14px;

}
.links{
margin-top: -15px;  
margin-bottom:1px;
}
}
.bottom-bar p{
    font-size: 12px;

}

/* projects img */
.sub-header{
height: 50vh;
width: 100%;
background-image: linear-gradient(rgb(252, 249, 249),rgba(56, 74, 238, 0)),url(images/workers.jpg);
background-position: center;
background-size: cover;
text-align: center;
justify-content: center;
font-family: "Montserrat", sans-serif;

}

.sub-header h1{
margin-top: 30px;
font-size: 60px;
color:transparent;
-webkit-text-stroke: 1px #002c5a;
}

.img-gallery{
width: 100%;
margin: 100px auto 50px;
display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
grid-gap: 5px;

}
.img-gallery img{
width: 90%;
height: 250px;
margin: 20px;
cursor: pointer;
}
.full-img{
width: 100%;
height: 100vh;
background: rgba(0,0,0,0.9);
position: fixed;
top:0;
left:0;
display:none;
align-items: center;
justify-content: center;
z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    color:#fff;
position: absolute;
top: 5%;
right: 5%;
font-size: 30px;
cursor: pointer;
}
.proj-col h1 {
font-size: 23px;
padding-top: 20px;
text-align: center;
font-family: "Montserrat", sans-serif;
font-weight: 200;
}

@media(width <= 600px){
    .footersection{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
        
    }
    .sub-header h1{
        margin-top: 80px;
        font-size: 20px;
    }
    
   
.bottom-bar p{
    font-size: 12px;
    text-align: center;
}
}
.location{
width: 73%;
margin:auto;
padding: 60px 0;

}
.location iframe{
    width: 100%;
}
.contact-col{
    justify-content: center;
    align-items: center;
}
.contact-col input, .contact-col textarea{
    width: 70%;
    padding: 15px;
    margin-bottom: 17px;
    margin-left: 13%;
    outline:none;
    border: 1px solid #ccc;

}
.hero-btn{
margin-left: 13%;
padding: 12px 34px;
font-size: 15px;
background: #002c5a;
position: relative;
cursor: pointer;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
color: #fff;
}
@media(width <= 600px){
    .hero-btn{
        font-size: 12px;
        padding: 8px 13px;
    }
    
}